*{
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.nav-bar{  
    width: 90%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.logo img{
    width: 150px;
    filter: brightness(0) invert(1);
}

.nav-list{
    display: flex;
    text-decoration: none;
    color: white;
    gap: 10px;
}

.nav-list a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

nav{
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #211414;
}

.get-started-btn{
    margin-top: 5px;
}

.lets-start-btn{
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color: red;
    border-radius: 50px;
}

.lets-start-btn :hover{
    border: 2px solid rgb(255, 255, 255);  
    padding: 40px;
}

.img-sec{
    width: 100%;
    height: 400px;
    background-color: aqua;
}

.image{
    /* padding-top: 100px; */
    width: 20%;
    background: transparent;
    z-index: 1;
    mask-image: url(../Multimedia/images/thought.png);
    -webkit-mask-image: url(../Multimedia/images/thought.png) 
}
